<div class="container-fluid">
  <h2>Protfolio</h2>
  <div class="projs ms-2 row  justify-content-md-between ">
    <div class="col-md-3 col-sm-5 col-12 proj m-2"><p>WEP DESIGN</p></div>
    <div class="proj bg-dark col-md-3 col-sm-5 col-12 m-2"><p>MOBILE DESIGN</p></div>
    <div class="proj col-md-3 col-sm-5 col-12 m-2"><p>LOGO DESIGN</p></div>
    <div class="proj bg-dark col-md-3 col-sm-5 col-12 m-2"><p>WEP APPLICATION DESIGN</p></div>
    <div class="proj col-md-3 col-sm-5 col-12 m-2"><p>MOBILE APPLICATION DESIGN</p></div>
    <div class="proj bg-dark col-md-3 col-sm-5 col-12 m-2"><p>PWA DEVELOPMENT</p></div>
  </div>
</div>
