<div class="skills bg-dark   container-fluid d-flex justify-content-center align-items-center flex-column">
  <h2 class="my-5" >Skills</h2>
  <p class="w-md-50 w-100 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui voluptas, excepturi dolores eligendi quae quibusdam cumque, laudantium cum dolore consequuntur labore maxime, modi tenetur dignissimos eaque ratione! Facere, et a, accusamus deleniti sint in quae velit, doloremque laudantium aliquam voluptates!</p>
  <div class="language row mt-5 ms-auto justify-content-evenly w-100">
    <div class="focus text-center  ps-0 col-md-3 col-12 ">
      <ul class="list-unstyled">
        <li class="border-bottom py-2 border-light w-25 mx-auto ps-0">My Focus</li>
        <li class="py-3">Ui/Ux Design</li>
        <li class="py-3">Responsive Design</li>
        <li class="py-3">Web Design</li>
        <li class="py-3">Mobile App Design</li>
      </ul>
    </div>
    <div class="bars col-md-5 col-12 d-flex flex-column gap-5 justify-content-evenly">
      <div class="bar row w-100 bg-light">
        <div class="title col-2 text-center">HTML</div>
        <div class="active col-10 bg"></div>
      </div>
      <div class="bar row w-100 bg-light">
        <div class="title col-2 text-center">CSS</div>
        <div class="active col-9 bg"></div>
      </div>
      <div class="bar row w-100 bg-light">
        <div class="title col-2 text-center">JavaScript</div>
        <div class="active col-8 bg"></div>
      </div>
      <div class="bar row w-100 bg-light">
        <div class="title col-2 text-center">Angular</div>
        <div class="active col-5 bg"></div>
      </div>
    </div>
    </div>
  </div>
